# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
Pokemon/.vs/Pokemon/v17/.suo
*.db
Pokemon/Pokemon/x64/Debug/Pokemon.Build.CppClean.log
*.recipe
*.tlog
*.idb
*.json
Pokemon/.vs/Pokemon/v17/.suo
*.db
*.db-shm
*.json
*.json
*.ipch
*.vcxproj
*.filters
*.log
*.recipe
Pokemon/Pokemon/x64/Debug/Pokemon.ilk
*.log
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.lastbuildstate
*.idb
*.db-wal
*.db
*.db-shm
*.db-wal
